@mixin webFont ($fontType: $font-open-sans, $fontSize: 1rem, $fontWeight: 300, $fontColor: $color-black) {
  font-family: $fontType, sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
  text-decoration: none;
}

@mixin btn ($btnSize, $btnColor:$color-primary) {
  color: $color-white;
  @if $btnSize == big {
    border-radius: 35px;
    padding: 23px 100px;
  } @else if $btnSize == medium {
    border-radius: 23px;
    padding: 16px 50px;
  }
  background-color: $btnColor;
  cursor: pointer;
}

@mixin xl {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1352px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mm {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin ss {
  @media (max-width: 375px) {
    @content;
  }
}
