@use "sass:color";
@use "sass:list";

$colorNamesList: "primary", "green", "redish";

.pricing--wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: row;
  @include mm {
    display: block;
  }
}

.price--type {
  border-radius: 18px;
  padding: 35px 70px 70px 70px;
  align-items: center;
  position: relative;
  margin: 0 auto 50px auto;
  width: fit-content;

}
.price--type, .professional__wrapper {
  @include mm {
    display: flex;
    align-items: center;
  }
  .left {
    @include mm {
      text-align: left;
      margin-right: 30px;
    }
  }
}

.price--type--name {
  @include webFont($font-raleway, 20px, 800, $color-black);
}

.price--type--cost {
  @include webFont($font-open-sans, 46px, 300, $color-black);
  margin: 14px 0 14px 0;
}

.price--button {
  @include webFont($font-open-sans, 13px, 700, $color-white);
  @include btn(medium, $color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 75px);
  width: 150px;
}


@each $colorName in $colorNamesList {
  .price--color__#{$colorName} {
    //color: $color-#{$colorName};
    @if $colorName == "primary" {
      color: $color-primary
    }@else if $colorName == "green" {
      color: $color-green
    }@else if $colorName == "redish" {
      color: $color-redish
    }
  }
  .price--backgroundcolor__#{$colorName} {
    //background-color: $color-#{$colorName}
    @if $colorName == "primary" {
      background-color: $color-primary
    }@else if $colorName == "green" {
      background-color: $color-green
    }@else if $colorName == "redish" {
      background-color: $color-redish
    }
    &:hover {
      @if $colorName == "primary" {
        background-color: color.scale($color-primary, $lightness: 25%);
      }@else if $colorName == "green" {
        background-color: color.scale($color-green, $lightness: 25%);
      }@else if $colorName == "redish" {
        background-color: color.scale($color-redish, $lightness: 25%);
      }
    }
  }
  .price--border--color__#{$colorName} {
    //border:  1px solid $color-#{$colorName};
    @if $colorName == "primary" {
      border:  1px solid $color-primary
    }@else if $colorName == "green" {
      border:  1px solid $color-green
    }@else if $colorName == "redish" {
      border:  1px solid $color-redish
    }
    @include ss {
      max-width: 340px;
    }
  }
}


.price--border--color__primary {
  box-shadow: 5px 10px 27px $color-primary;
  padding: 35px 60px 60px 70px;
}

.contains, .do-not-contains {
  @include webFont($font-open-sans, 14px, 400, $color-black);
  display: flex;
  align-items: center;
  margin: 25px 0 0 0;
  justify-content: center;
  @include mm {
    justify-content: left;
  }
}

.contains:before {
  content: "";
  background: url("../../assets/Checkmark.svg") no-repeat center;
  background-size: 9px 9px;
  border: 1px solid $color-green;
  color: $color-green;
  border-radius: 2px;
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.do-not-contains:before {
  border: 1px solid $color-redish;
  @include webFont($font-raleway, 9px, 700, $color-redish);
  border-radius: 2px;
  content: "x";
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}



.limited-offer {
  @include webFont($font-raleway, 12px, 700, $color-black);
  height: 20px;
}
.professional__wrapper {
  margin: 50px;
  @include mm {
    margin: 0;
  }

}